## Lambda Functions 

    Lambda input : expressions 


## Difference between lambda and Functions

    1.Lambda has no return values
    2.It will be one line only.
    3.Not used for code reusability
    4.No Name.
    
    
## High Order Functions 

    Map , Reduce , Filter 
    
## List Comprehension and Dictionary Comprehension
    
    - List

## 1 . Lambda Functions

In [4]:
# lambda input : expression

x=lambda x : x**2
print(x(9))

a=lambda x,y:x+y
print(a(5,6))

81
11

In [6]:
# check whether starting alphabet is A or not.
b=lambda x:x[0]=='a'
b('apple')

True

In [7]:
b('banana')

False

In [10]:
b2=lambda x: "Even" if x%2==0 else "odd"
b2(0)

'Even'

In [31]:
# Higher order functions

def return_sum(l1):
    odd_no=0
    even_no=0
    divis=0
    for i in l1:
        if i%2==0:
            even_no=even_no+i
        if i%3==0:
            divis=divis+i
        if i%2!=0:
            odd_no=odd_no+i
        else:
            pass
        
    return(odd_no,even_no,divis)

In [30]:
l1=[1,2,3,4,5,6]

return_sum(l1)

(9, 12, 9)

In [32]:
def return_sum(func,L):
    result=0
    for i in L:
        if func(i):
            result=result+i
    return result

In [36]:
L=[1,2,3,4,5,6]
x=lambda x : x%2 ==0
y=lambda x : x%2 !=0
z=lambda x : x%3 ==0

print(return_sum(x,L))
return_sum(y,L)

12

9

## 2. High Order Functions
  
    Map , Filter , Reduce

### 1. Map

In [1]:
L=[1,2,3,4,5,6]
print(map(lambda x:x*2,L))
print(list(map(lambda x:x*2,L)))

<map object at 0x000001C609C95D30>
[2, 4, 6, 8, 10, 12]

In [40]:
list(map(lambda x:x%2==0,L))

[False, True, False, True, False, True]

### 2. Filter

In [41]:
# Filter

L=[1,2,4,6,8,9]
list(filter(lambda x:x>4,L))

[6, 8, 9]

In [45]:
fruits=['apple','orange','banana','pineapple','mango']

list(filter(lambda fruits: 'p' in fruits,fruits))

['apple', 'pineapple']

### 3. Reduce

In [52]:
# Reduce - It will add all the no from the list and return the addition.

L4=[7,2,3,4,5,6,1]

import functools
functools.reduce(lambda x,y:x+y,L4)

28

In [53]:
# Largest number
functools.reduce(lambda x,y: x if x>y else y ,L4)

7

In [50]:
# smallest number
functools.reduce(lambda x,y: x if x<y else y ,L4)

1

##  3.  List Comprehension

    - Technique of creating list from another list

In [54]:
l0=[6,7,8,9,10]

l10=[item*2 for item in l0]
l10

[12, 14, 16, 18, 20]

In [55]:
k2=[i **2 for i in range(10)]
k2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [56]:
k3=[i **2 for i in range(10) if i%2!=0]
k3

[1, 9, 25, 49, 81]

In [62]:
g0=[fruits for fruits in fruits if fruits[0]!='O']
g0

['apple', 'orange', 'banana', 'pineapple', 'mango']

## 4.   Dictionary Comprehension

In [72]:
d={"name":"sundar","gender":"male","age":30}

d1={key:value for key,value in d.items() if len(key)>3}
d1

{'name': 'sundar', 'gender': 'male'}

In [75]:
d45=[1,2,3,4,5,6,7]

d45={a:a**2 for a in d45}
d45

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

### THE END