# Dictionary - Mutuable data types

 * It is key-value pair
 * Dictionary has no indexing
 * Keys should be immutable
 * Values are mutable / immutable
 * Keys should be unique

## 1.  Create Dictionary

In [1]:
# create dictionary

d= {"Name":"Sandesh","Gender":"Male"}
d

{'Name': 'Sandesh', 'Gender': 'Male'}

In [4]:
# list is mutable data type , thus keys cannot be mutable , hence will give error.
# d1 = {[1,2,3]:'Shreya'}
# d1

In [5]:
# Tuple is immutable , hence keys can be immutable 
d1 = {(1,2,3):'Shreya'}
d1

{(1, 2, 3): 'Shreya'}

In [8]:
d2={"Name":"Rahul","Name":"Sundar"}
d2

{'Name': 'Sundar'}

In [ ]:
# 2D Dictionary

In [9]:
d3= {"name":"Nikhil","College":"SVM","Marks":{'m1':56,'m2':60,'m3':90}}
d3

{'name': 'Nikhil', 'College': 'SVM', 'Marks': {'m1': 56, 'm2': 60, 'm3': 90}}

## 2.   Accessing items from dictionary
   
    There is no indexing or slicing, values can be accessed only by keys.

In [12]:
d3["name"]

'Nikhil'

In [15]:
d3["Marks"]["m2"]

60

##  3.   Edit a dictionary

In [16]:
d3["name"]="Virat"
d3

{'name': 'Virat', 'College': 'SVM', 'Marks': {'m1': 56, 'm2': 60, 'm3': 90}}

## 4.   Add new Key-value Pair

In [17]:
d3['age']=30
d3

{'name': 'Virat',
 'College': 'SVM',
 'Marks': {'m1': 56, 'm2': 60, 'm3': 90},
 'age': 30}

In [18]:
d3['Marks']['m4']=90
d3

{'name': 'Virat',
 'College': 'SVM',
 'Marks': {'m1': 56, 'm2': 60, 'm3': 90, 'm4': 90},
 'age': 30}

## 5.  Delete key-value pair

In [19]:
del d3['age']
d3

{'name': 'Virat',
 'College': 'SVM',
 'Marks': {'m1': 56, 'm2': 60, 'm3': 90, 'm4': 90}}

## 6.   Operations

    No Concatenation / Mutliplication
    Loops
    Membership operators

In [26]:

# It will only display the Keys .
print("KEYS")
for i in d3:
    print(i)

# It will display the Keys and values .
print("KEYS-VALUE PAIR")
for i in d3.items():
    print(i)
print("\n")

for i in d3:

    print(i,d3[i])

KEYS
name
College
Marks
KEYS-VALUE PAIR
('name', 'Virat')
('College', 'SVM')
('Marks', {'m1': 56, 'm2': 60, 'm3': 90, 'm4': 90})


name Virat
College SVM
Marks {'m1': 56, 'm2': 60, 'm3': 90, 'm4': 90}

In [29]:
# Membership operators
# it will only check the keys not the values.
    
print("name" in d3) 
"Virat" in d3

True

False

## 7.   Functions

    Length
    MIN / MAX 
    SORTED
    KEYS
    VALUES

In [32]:
d3.keys()

dict_keys(['name', 'College', 'Marks'])

In [33]:
d3.values()

dict_values(['Virat', 'SVM', {'m1': 56, 'm2': 60, 'm3': 90, 'm4': 90}])

In [34]:
len(d3)

3

In [35]:
sorted(d3)

['College', 'Marks', 'name']

# THE END