# Tuples  - IMMUTABLE ( Cannot be Changed)

  - Tuples can stores values of different data types , it is heterogeneous data type 
 
  

## Tuples - ROUND BRACKETS
  
    Create 
    Access   
    Edit        -  Cannot Edit Elements in the tuples as well
    Add         -  Cannot Add Elements in the tuples as well
    Delete      -  Cannot Delete Elements in the tuples as well
    Operations
    Functions

## 1.  CREATE

In [1]:
# create tuples 

tup1=(1,2,4,[4,5])
tup1

(1, 2, 4, [4, 5])

In [3]:
# heterogeneous - values are of different data types.
tup2=("hello",4,5,3+2j)
tup2

('hello', 4, 5, (3+2j))

In [2]:
# how to create single value item tuples - put comma at the end.

t4=("hello")
print(type(t4))
t5=("hello",)
print(type(t5))

<class 'str'>
<class 'tuple'>

In [9]:
# use type conversion to create tuple.
t6=tuple("Goa")
t6

('G', 'o', 'a')

In [12]:
# using list to create tuple.

t7=tuple([1,2,3,4,5])
t7

(1, 2, 3, 4, 5)

## 2.  ACCESS

In [13]:
t7[-1]

5

In [14]:
t7[-3:]

(3, 4, 5)

In [15]:
t7[:4]

(1, 2, 3, 4)

## 3.   EDIT - Tuples are immutable , cannot be edited once it is created.

In [17]:
# t7[2]=100 - cannot be edited.

## 4.  Add - Cannot add Elements in the tuples as well

In [20]:
# t7[5]=100  - will give error

## 5.  Delete - Cannot delete elements from tuples as well

In [22]:
# del t7[5]

## 6.  Operations
    * Concat 
    * Multiply
    * Loops

In [25]:
# concatenate two tuples
t2=(1,2,3,4,5) ; t4=(4,5,6)
t2+t4

(1, 2, 3, 4, 5, 4, 5, 6)

In [28]:
# multiply two tuples
t2=(1,2,3,4,5) 
t2*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [30]:
# loops

for i in t2:
    print(i)

1
2
3
4
5

## 7.   Functions

    *  Length
    *  Min / max
    *  Sum
    *  Sorted

In [31]:
sum(t2)

15

In [32]:
min(t2)

1

In [33]:
sorted(t2)

[1, 2, 3, 4, 5]

# Tuples are READ Only Data types

###########################################################################################################################

# SETS can have heterogenous and homogeneous values 

    
    Access Items - It does not supports indexing / Slicing
    Edit Items - Cannot edit values in Sets but we can add items in sets
    Delete Items from Sets
    Set Operations
    Set Functions 
    
    * Sets do not allow duplicates
    * Sets have no indexing / Slicing
    * Sets dont allow mutuable data types
    * Sets itself is a mutuable data types.

In [34]:
# Create - how to create empty set
# this will create empty dictionary 
# Dictionary and sets both used currly brackets - {}

s1={}
type(s1)

dict

In [36]:
# Create empty set in Sets
s1=set()
type(s1)

set

In [38]:
# Homogeneou Sets

s23={1,2,3,4}
s23
# Heterogeneou Sets
s24={1,2,3,4,"hello",2+3j}
s24

{(2+3j), 1, 2, 3, 4, 'hello'}

In [39]:
# Does not Duplicates

s48= {1,2,2,3,3,3,4,4,4}
s48

{1, 2, 3, 4}

In [5]:
# List is mutuable data type , hence it will give error 

#s09={[1,2,3],"hellp"}
#s09

In [48]:

s09 = {(1,2,3),'Hello'}
s09

{(1, 2, 3), 'Hello'}

In [50]:
# 2D Sets are not possible

# set2d={{1},{2}} - it will give error 
# set2d

## Access Items - It does not supports indexing / Slicing

In [52]:
# Cannot access items in Sets

#s1={1,2,2,2}
# s1[0]

# Edit Items - Cannot edit values in Sets but we can add items in sets

In [55]:
# Add items in Sets.

s1={1,2,2,4}
s1.add(10)
s1

{1, 2, 4, 10}

## Delete Items from Sets

    * del - will delete all values , particular values cannot be deleted.
    * remove - Removes the particular values
    * pop - Randomly removes the last element stored in memory.

In [66]:
sd ={90,123,123,13123,22,"hello"}
sd

{123, 13123, 22, 90, 'hello'}

In [67]:
sd.remove(123)
sd

{13123, 22, 90, 'hello'}

In [68]:
# it will delete the last values in memory which internally it has stored by 
# hashing concept - we dont know what is the last value.

sd.pop()
sd

{22, 90, 13123}

# Sets Operation
    
    * No Concatenation / Multiply
    * LOOPS
    * Membership operations

In [70]:
s1={7,8,9,123,12322}
s2={3,4,4,5,5}

# s1+s2  - Sets does not have concatenation
# s1*3   - Sets does not have option to mutliply

# Looping
for i in s1:
    print(i)

12322
7
8
9
123

In [71]:
7 in s1

True

# Functions in Sets 

    * Length
    * Min / Max
    * Sum 
    * Sorted

In [75]:
len(s1)
sorted(s1,reverse=True)

[12322, 123, 9, 8, 7]

# Unique Operations available in Sets

    * UNION
    * INTERSECTION
    * DIFFERENCE
    * SYMMETRIC DIFFERENCE
    * ISDISJOINT
    * IsSUBSET
    * IsSUPERSET

In [78]:
# UNION

s1 ={4,5,6} ; s2={4,10,11}
s1.union(s2)

{4, 5, 6, 10, 11}

In [79]:
# Intersection
s1.intersection(s2)

{4}

In [81]:
# Difference
s2.difference(s1)

{10, 11}

In [82]:
# SYMMETRIC Difference
s2.symmetric_difference(s1)

{5, 6, 10, 11}

In [83]:
# Is Joint
s2.isdisjoint(s1)

False

In [84]:
# Issubset
s2.issubset(s1)

False

In [85]:
# is superset
s2.issuperset(s1)

False

# THE END