### LIST -  MUTABLE DATA TYPE . IT CAN BE EDITED OR DELETED

- It is a datatype where multiple items are stored of different data types .


### ARRAY VS LIST

1. Array is homogeneous(all values in array will have same datatype) and 
    list is heterogenous(it can have values of diff data types)
2. Array are much faster bec it stores values in consecutive memory location
    While in list it is not stored in consecutive manner.
3. Array are fast due to memory location.
4. Lists are more programmer friendly.


### Task Performed on List 

**1. Creating List**

**2. Accessing List - Positive / Negative Indexing**

**3. Edit , Add , Deleting List - Possible as it is mutable data types**

**4. Operations on List**

    Arithmetic Operations - Addition
    Relational Operations - >,<.<=,>=,!=,==
    Logical Operations
    Loops on List
    Membership Operations

**5. List functions**

    Common Function - len,min,max,sorted

## 1.  List Creation

In [7]:
# Create a List

L=["hello",4,4.5,5+6j,True]
L

['hello', 4, 4.5, (5+6j), True]

In [15]:
# Multi-Dimensional Lists
l3=[1,2,3,[4,5]]  # 2D List
print(l3)
l4=[[1,2],[3,4],[5,6]] # 3D list
l4

[1, 2, 3, [4, 5]]

[[1, 2], [3, 4], [5, 6]]

In [16]:
f2= list("Haldiram")
f2

['H', 'a', 'l', 'd', 'i', 'r', 'a', 'm']

##  2.   Accessing items from list

In [17]:
f2[-1]   # access last values from list

'm'

In [18]:
f2[0]

'H'

In [19]:
f2[1:5]

['a', 'l', 'd', 'i']

In [24]:
f2[-1:]

['m']

In [36]:
f3=[1,2,3,[4,5,6]]
print(f3[-1][-2]) # negative values will start from ending
print(f3[-1][2]) # positive values will start from starting
f3[-1][-1]

5
6

6

In [40]:
a2=[1,2,3,[4,5],[6,7]]
a2[-1][1]

7

In [1]:
a3=[[1,2],[3,4],[[5,6],[7,8]]]
a3

[[1, 2], [3, 4], [[5, 6], [7, 8]]]

In [43]:
a3[-1][-1][-2] # negative indexing

7

In [44]:
a3[-1][1][0] # positive indexing

7

## 3.  EDIT List -  Python LISTS are mutable

In [48]:
l1=[10,20,30,50]
l1[0]=100
l1

[100, 20, 30, 50]

In [49]:
l1[1:3]=[200,300,400,500]
l1

[100, 200, 300, 400, 500, 50]

## 4.   ADD items in List 

 * APPEND - only one values can be added at a time
 * Extend - multiple values can be added at a time
 * Insert - To add values in between

In [56]:
# adds values in the end of the list

l=[100,200,300,400]
l.append("google") 
l.append([5,6])
l

[100, 200, 300, 400, 'google', [5, 6]]

In [78]:
# Extend
l2=[]
l2.extend([5,6,900,"google"])
l2.extend('goa')
l2

[5, 6, 900, 'google', 'g', 'o', 'a']

In [79]:
# Insert

l2.insert(3,'tesla')
l2

[5, 6, 900, 'tesla', 'google', 'g', 'o', 'a']

##  5.   Delete items from list

* Del  - Delete the entire list or particular elements.
* Remove - Delete elements whose index location is not known.
* Pop - Deletes last elements from list
* Clear - Clear the list.

In [80]:
del l2[0]
l2

[6, 900, 'tesla', 'google', 'g', 'o', 'a']

In [81]:
del l2[-3:]
l2

[6, 900, 'tesla', 'google']

In [82]:
l2.remove(900)
l2

[6, 'tesla', 'google']

In [83]:
l2.pop()
l2

[6, 'tesla']

## 6.   List Operations

   * Addition
   * Multiplication
   * Loops
   * membership operator

In [88]:
# adds the list and displays it 3 times.

q1=[1,2,34]
q2=[5,6,7]
(q1+q2)*3

[1, 2, 34, 5, 6, 7, 1, 2, 34, 5, 6, 7, 1, 2, 34, 5, 6, 7]

In [92]:
l3=[1,2,3,[4,5]]
for i in l3:
    print(i)

1
2
3
[4, 5]

In [93]:
4 in l3

False

In [94]:
[4,5] in l3

True

## 7.  Functions in list 

    len , min , max , sorted

In [99]:
# Sorted is not a permanent equation after sorting if u check the list it will 
# be same.

# Sort is permanent operation.

l=[10,34,2,3,4]
sorted(l,reverse=True)

[34, 10, 4, 3, 2]

In [97]:
len(l)

5

In [98]:
min(l)

2

In [100]:
l

[10, 34, 2, 3, 4]

In [107]:
l.index(3)

3

In [119]:
str=input("enter a sentence")
a= str.split()
b=[]
for i in a:
    i.capitalize()
    b.append(i.capitalize())
print(b)
" ".join(b)

enter a sentencesky is the limit
['Sky', 'Is', 'The', 'Limit']

'Sky Is The Limit'

### Find the email id of the person

In [130]:
sample=input("Enter the email id--\t")
print(sample[:sample.find("@")])

Enter the email id--	as
a

### Remove the duplicates elements and print the numbers only once

In [128]:
l=[1,2,44,44,5,1,1,2,3,23,2342,23]

l2=[]
for i in l:
    if i not in l2:
        l2.append(i)
print(l2)

[1, 2, 44, 5, 3, 23, 2342]

# THE END