### Python supports 3 categorial data types

    
    Basic types - Integer,Float,Complex,Boolean and String
    
    Container types - List, Tuples, Sets and Dictionary
    
    User defined types - Class.
    
    
    
    Mutable - Values can be changed - LIST / SETS / DICTIONARY

    Immutable  - Values cannot be changed - Strings / tuples / int / float / bool / complex

In [1]:
#list - square brackets

print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [192]:
#Tuples - round brackets

print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [3]:
# sets - union , intersection

print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [6]:
# dictionary

print({'Name':'Nitish','Age':30,'gender':'male'})

{'Name': 'Nitish', 'Age': 30, 'gender': 'male'}

## Variation in  Print Function

In [12]:

# if we want not space in between but some other thing such as '-' or '/'

print("India","Nepal","america",sep='-')

India-Nepal-america

In [4]:
# print 2 lines in 1 lines.

print("India","Nepal",end=' ')
print("america")

India Nepal america

### THE END